** Pandas **

This colab page is tutorial for Pandas

Sections:

1) Pandas dataframes

2) Dictionaries to data frames

3)

Types of forms:

1) Series: 1-D form (1-column)

2) Dataframes: Tabular form (multiple columns)

In [4]:
import pandas as pd

df = pd.read_csv('example.csv')  #converted to dataframe

print(type(df)) #print type of dataframe

print(df['Column2'])  #print only column named 'Column2'

print(type(df['Column2']))  #should be a series - linear data

print(df[['Column2','Column3']])  #print two columns only

print(df) #print full dataframe

<class 'pandas.core.frame.DataFrame'>
0    A
1    B
2    C
3    A
4    B
5    C
6    A
7    B
8    C
9    A
Name: Column2, dtype: object
<class 'pandas.core.series.Series'>
  Column2  Column3
0       A      100
1       B      200
2       C      150
3       A      120
4       B      210
5       C      180
6       A      130
7       B      220
8       C      170
9       A      140
   Column1 Column2  Column3
0        1       A      100
1        2       B      200
2        3       C      150
3        4       A      120
4        5       B      210
5        6       C      180
6        7       A      130
7        8       B      220
8        9       C      170
9       10       A      140

** Dictionary to data frame **

1) Convert dictionary to data-frame

df = pd.DataFrame(#dictionary)

2) Convert indices to one of columns

df = pd.DataFrame(#dict,index=['Person 1', 'Person 2'])

In [65]:
my_dict = {
    "Name": ["A","B","C"],
    "Age": [20,15,30],
    "id": [1,2,3]
}

df_dict = pd.DataFrame(my_dict)   #convert dictionary to dataframe

print(df_dict)

df2_dict = pd.DataFrame(my_dict, index = ['Person1','Person2','Person3']) #use a different index

print(df2_dict) #print the dataframe with a different index

  Name  Age  id
0    A   20   1
1    B   15   2
2    C   30   3
        Name  Age  id
Person1    A   20   1
Person2    B   15   2
Person3    C   30   3

**Print data of second row only** :
loc function

In [ ]:
print(df2_dict.loc['Person3']) #access only one row, loc = location

** Access index1 to index2: ** df.loc['Index1':'Index2]

In [33]:
print(df2_dict)

print(df2_dict.loc['Person1':'Person2'])  #access rows from Person1 to Person2

print(df2_dict[['Age']])  #Access column, dont forget double brackets

        Name  Age  id
Person1    A   20   1
Person2    B   15   2
Person3    C   30   3
        Name  Age  id
Person1    A   20   1
Person2    B   15   2
         Age
Person1   20
Person2   15
Person3   30

**SERIES**

In [35]:
se1 = pd.Series([1,2,3,4,5])  #Create a series
print(se1)

se2 = pd.Series([500, 600, 700],index = ['2020 Sales','2021 Sales', '2022 Sales'])  #Create series with specific indices
print(se2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
2020 Sales    500
2021 Sales    600
2022 Sales    700
dtype: int64

**WORKING WITH STACK OVERFLOW SURVEY DATA**

In [5]:
##########################################################################################
############################## STACK OVERFLOW DATA #######################################
##########################################################################################

df_stack = pd.read_csv('survey_results_public.csv')   #Read the survey data
#print(df_stack.head())        # Print the head = 5 rows

#print(df_stack.head(0).to_string()) #print columns only, set head to 0 rows

#print(df_stack.info())  #give columns along with type

#print(df_stack.columns)   #prints the columns as an index

print(df_stack.shape)   #number of rows and columns

(89184, 84)

**OPERATIONS ON EXAMPLE DATA**

In [ ]:
#print(df.iloc[0,0])    #first row and first column
#print(df.iloc[5,2])   #sixth row and third column
#print(df)

#df.loc[0,'Column1'] = 10  #change a single element
#print(df)

#df.iloc[5,0] = 10     #iloc should change the element as well
#print(df)

#df['Column1'].iloc[7] = 20  #another way to change the element - but warning

**OPERATIONS ON SIMPLE DATA**

In [78]:
people = {
    "first": ["Matt",'Jane','John'],
    "last": ["Matt2",'Doe','Doe'],
    "email": ["matt@gmail.com",'JaneDoe@gmail.com','JohnDoe@gmail.com']
}

df_people = pd.DataFrame(people)
#print(df_people)

filter_df = df_people['last']=='Doe'    #filter by last name
print(df_people[filter_df])

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

**OPERATIONS ON STACK OVERFLOW SUVERY DATA**

In [6]:
filter_stack = df_stack['Employment'] == 'Employed, full-time'    # filter by Employment column is Employed, fulltime

filter2_stack = (df_stack['Employment'] == 'Employed, full-time') & (df_stack['RemoteWork'] == 'Remote')  #check two filters

print(df_stack[filter2_stack].head())                              # print the head of this dataframe

    ResponseId     Q120                      MainBranch              Age  \
1            2  I agree  I am a developer by profession  25-34 years old
5            6  I agree  I am a developer by profession  35-44 years old
6            7  I agree  I am a developer by profession  35-44 years old
7            8  I agree  I am a developer by profession  25-34 years old
10          11  I agree  I am a developer by profession  25-34 years old

             Employment RemoteWork  \
1   Employed, full-time     Remote
5   Employed, full-time     Remote
6   Employed, full-time     Remote
7   Employed, full-time     Remote
10  Employed, full-time     Remote

                                     CodingActivities  \
1   Hobby;Contribute to open-source projects;Boots...
5   Hobby;Professional development or self-paced l...
6   Hobby;Contribute to open-source projects;Profe...
7                                               Hobby
10                                              Hobby

                                              EdLevel  \
1        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
5   Some college/university study without earning ...
6   Some college/university study without earning ...
7        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
10       Bachelor’s degree (B.A., B.S., B.Eng., etc.)

                                            LearnCode  \
1   Books / Physical media;Colleague;Friend or fam...
5   Books / Physical media;Colleague;Online Course...
6   Friend or family member;Online Courses or Cert...
7   Books / Physical media;Online Courses or Certi...
10  Books / Physical media;Friend or family member...

                                      LearnCodeOnline  ...       Frequency_1  \
1   Formal documentation provided by the owner of ...  ...  1-2 times a week
5   Formal documentation provided by the owner of ...  ...  1-2 times a week
6                                                 NaN  ...  1-2 times a week
7   Formal documentation provided by the owner of ...  ...               NaN
10  Formal documentation provided by the owner of ...  ...  1-2 times a week

         Frequency_2        Frequency_3               TimeSearching  \
1   10+ times a week              Never         15-30 minutes a day
5   1-2 times a week   3-5 times a week         30-60 minutes a day
6   3-5 times a week   1-2 times a week  Less than 15 minutes a day
7                NaN                NaN        60-120 minutes a day
10  1-2 times a week  6-10 times a week         30-60 minutes a day

           TimeAnswering                                   ProfessionalTech  \
1    15-30 minutes a day  DevOps function;Microservices;Automated testin...
5    15-30 minutes a day  DevOps function;Microservices;Observability to...
6    15-30 minutes a day  Microservices;Automated testing;Continuous int...
7    30-60 minutes a day                                      None of these
10  60-120 minutes a day  Automated testing;Continuous integration (CI) ...

                                             Industry           SurveyLength  \
1   Information Services, IT, Software Development...  Appropriate in length
5                                               Other  Appropriate in length
6   Information Services, IT, Software Development...  Appropriate in length
7                                  Financial Services                    NaN
10                                              Other  Appropriate in length

                    SurveyEase ConvertedCompYearly
1                         Easy            285000.0
5   Neither easy nor difficult             96828.0
6                         Easy            135000.0
7                          NaN             80000.0
10  Neither easy nor difficult                 NaN

[5 rows x 84 columns]

In [21]:
#Find top five users from USA who know python
filter3_stack = filter2_stack & (df_stack['Country'] == 'United States of America')
#print(df_stack[filter3_stack].head())

filter4_stack = df_stack['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [ ]:
#print(df_stack[filter4_stack].head()) #not working

**GROUPING**

In [14]:
print(df_stack['RemoteWork'].value_counts())   #Get count of possible values of single column

Hybrid (some remote, some in-person)    31131
Remote                                  30566
In-person                               12113
Name: RemoteWork, dtype: int64

In [15]:
print(df_stack['Country'].value_counts())   #get value count by country

United States of America                                18647
Germany                                                  7328
India                                                    5625
United Kingdom of Great Britain and Northern Ireland     5552
Canada                                                   3507
                                                        ...
Saint Kitts and Nevis                                       1
Marshall Islands                                            1
Samoa                                                       1
Central African Republic                                    1
San Marino                                                  1
Name: Country, Length: 185, dtype: int64

In [22]:
#Get number of Python developers in all the countries
print(df_stack[filter4_stack]['Country'].value_counts()) #get python developers count by country

United States of America                                10062
Germany                                                  3686
India                                                    2793
United Kingdom of Great Britain and Northern Ireland     2752
Canada                                                   1784
                                                        ...
Bhutan                                                      1
Cape Verde                                                  1
San Marino                                                  1
Saint Vincent and the Grenadines                            1
Barbados                                                    1
Name: Country, Length: 173, dtype: int64

In [25]:
#Sort one column
print(df_stack.sort_values(by='Country')['Country'].head(10))   #Sort the df by Column = Country in ascending order

#Descending
print(df_stack.sort_values(by='Country',ascending=False)['Country'].head(10)) #Sort by descending column

21497    Afghanistan
65292    Afghanistan
1334     Afghanistan
33927    Afghanistan
77722    Afghanistan
86038    Afghanistan
10376    Afghanistan
83820    Afghanistan
73713    Afghanistan
61452    Afghanistan
Name: Country, dtype: object
77715    Zimbabwe
10141    Zimbabwe
47465    Zimbabwe
23214    Zimbabwe
46505    Zimbabwe
31272    Zimbabwe
19727    Zimbabwe
39934    Zimbabwe
3149     Zimbabwe
64106    Zimbabwe
Name: Country, dtype: object