<a href="https://colab.research.google.com/github/reddyp4/GeneralCoding/blob/main/ML_Tutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Pandas **

This colab page is tutorial for Pandas

Sections:

1) Pandas dataframes

2) Dictionaries to data frames

3)

Types of forms:

1) Series: 1-D form (1-column)

2) Dataframes: Tabular form (multiple columns)

In [ ]:
import pandas as pd

df = pd.read_csv('example.csv')  #converted to dataframe

print(type(df)) #print type of dataframe

print(df['Column2'])  #print only column named 'Column2'

print(type(df['Column2']))  #should be a series - linear data

print(df[['Column2','Column3']])  #print two columns only

print(df) #print full dataframe

** Dictionary to data frame **

1) Convert dictionary to data-frame

df = pd.DataFrame(#dictionary)

2) Convert indices to one of columns

df = pd.DataFrame(#dict,index=['Person 1', 'Person 2'])

In [15]:
my_dict = {
    "Name": ["A","B","C"],
    "Age": [20,15,30],
    "id": [1,2,3]
}

df_dict = pd.DataFrame(my_dict)   #convert dictionary to dataframe

print(df_dict)

df2_dict = pd.DataFrame(my_dict, index = ['Person1','Person2','Person3']) #use a different index

print(df2_dict) #print the dataframe with a different index

  Name  Age  id
0    A   20   1
1    B   15   2
2    C   30   3
        Name  Age  id
Person1    A   20   1
Person2    B   15   2
Person3    C   30   3

**Print data of second row only** :
loc function

In [ ]:
print(df2_dict.loc['Person3']) #access only one row, loc = location

** Access index1 to index2: ** df.loc['Index1':'Index2]

In [29]:
print(df2_dict)

print(df2_dict.loc['Person1':'Person2'])

        Name  Age  id
Person1    A   20   1
Person2    B   15   2
Person3    C   30   3
        Name  Age  id
Person1    A   20   1
Person2    B   15   2